*{
    margin: 0px;
    padding:0px;
}

input{
    border: none;
    outline:none;
    border-bottom:2px solid #424040; 
    background-color: #B1B3B3FF;
}
.whole{
    border: 1px solid #c4c6ca;
    box-shadow: 0px 0px 15px;
    width:600px;
   padding: 40px 20px;
   background-color: #B1B3B3FF;

}
.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* font-family: 'Jura', sans-serif; */
}
.companydetails table{
           margin: auto;
           margin-bottom: 20px;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.secondheading{
    text-align: center;
    margin-bottom: 20px;
    /* font-family: 'Jura', sans-serif; */
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cashreceived input{
    width: 240px;
}
.rupee input{
    width: 180px;
}
.cashrupee{
    margin-bottom: 20px;
    display: flex;
}
.amount_word{
    margin-bottom: 20px;
}
.amount_word input{
    width: 400px;
}
.for input{
   width: 509px;
}
.for{
    margin-bottom: 20px;
}
h4{
    margin-bottom: 10px;
}
.checkbox{
    margin-bottom: 20px;
}
.flex2{
    display: flex;
    justify-content: space-between;
}
@media (max-width:672px){
    .whole{
        width: 500px;
    }
    .cashrupee{
        display: flex;
        flex-direction: column;
    }
    .cashreceived input{
       width: 350px;
    }
    .cashreceived{
        margin-bottom: 20px;
    }
    .rupee input{
        width:450px ;
    }
    .amount_word input{
        width: 350px;
    }
    .for input{
        width: 457px;
    }
}

@media (max-width:567px){
   .whole{
       width: 430px;
   }
   .cashrupee{
       display: flex;
       flex-direction: column;
   }
   .cashreceived input{
      width: 280px;
   }
   .cashreceived{
       margin-bottom: 20px;
   }
   .rupee input{
       width:380px ;
   }
   .amount_word input{
       width: 275px;
   }
   .for input{
       width: 385px;
   }
}
