*{
    margin: 0px;
    padding:0px;
}
.title{
    background-color:  #363636;;
    height: 40px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
    font-size: 24px;

}

input{
    border: none;
    outline:none;
    border-bottom:2px solid #424040; 
    /* background-color: #ffffff; */
}
.whole{
    border: 1px solid #c4c6ca;
    box-shadow: 0px 0px 15px;
    width:690px;
   padding: 40px 20px;
   /* background-color: #B1B3B3FF; */
   margin-bottom: 140px;

}
.heading{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* font-family: 'Jura', sans-serif; */
}
.companydetails table{
           margin: auto;
           margin-bottom: 20px;
}
.center{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.secondheading{
    text-align: center;
    margin-bottom: 20px;
    /* font-family: 'Jura', sans-serif; */
}
.flex{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.cashreceived input{
    width: 240px;
}
.rupee input{
    width: 150px;
}
.cashrupee{
    margin-bottom: 20px;
    display: flex;
}
.amount_word{
    margin-bottom: 20px;
}
.amount_word input{
    width: 523px;
}
.for input{
   width: 509px;
}
.for{
    margin-bottom: 20px;
}
h4{
    margin-bottom: 10px;
}
.checkbox{
    margin-bottom: 20px;
}
.flex2{
    display: flex;
    justify-content: space-between;
}
@media (max-width:715px){
    .whole{
        width: 500px;
    }
    .cashrupee{
        display: flex;
        flex-direction: column;
    }
    .cashreceived input{
       width: 450px;
    }
    .cashreceived{
        margin-bottom: 20px;
    }
    .rupee input{
        width:450px ;
    }
    .amount_word input{
        width: 450px;
    }
    .for input{
        width: 457px;
    }
}

@media (max-width:567px){
   .whole{
       width: 430px;
   }
   .cashrupee{
       display: flex;
       flex-direction: column;
   }
   .cashreceived input{
      width: 380px;
   }
   .cashreceived{
       margin-bottom: 20px;
   }
   .rupee input{
       width:380px ;
   }
   .amount_word input{
       width: 380px;
   }
   .for input{
       width: 385px;
   }
}
