*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
h1{
    background-color: rgb(163, 159, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 50px;
}
#h2{
    width: 300px;
    margin:100px auto;
    text-align: center;

}
.add{
    border: 1px solid #52c3f8;
    width: 300px;
    margin:20px auto;
    text-align: center;
    padding-top:20px;
    box-shadow: 0px 0px 15px ;
}
.add input{
    border:none;
    border-bottom: 2px solid #52c3f8;
    line-height: 25px;
    
    
}

.label input{
    margin-bottom: 15px;
}



.btn{
    margin-top: 15px;
    margin-bottom: 20px;
    background:   #52c3f8;
    cursor: pointer;;
    border: none;
    border-radius: 4px;
    padding: 5px;
    letter-spacing: 1px;
    width: 80px;
    height:35px;
    color: white;
    outline: none;
    transition: ease-out 0.3s;
    font-size: 15px;
}
.btn:hover{
    box-shadow: inset 80px 0 0 0 #47a9d6;
    color: white;
}
span{
    font-weight: bold;
}

