*{
    margin:0px;
    padding:0px;
}
#center_whole_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.border-outline input{
outline: none;
}

#heading{
    font-size: 10px;
    margin-bottom: 20px;
    color: #52c3f8; 
    padding-left: 20px;

}

.billto td{
    background-color: white;
}
.billto {
    
    width: 50%;
    padding-left: 4px;
}
.customerId{
    width: 39%;
}
.cutomerId td{
    background-color: hsl(258, 45%, 94%);
}


.all td{
    background-color: #68c7f373;
}
.all th{
    border: none;
}

 .whole{
     border: 1px solid #c4c6ca;
    width: 600px;
    height:100;
    padding: 5px;
    box-shadow: 0px 0px 15px ;
    margin-top: 30px;
    padding-bottom: 40px; 
    }  
    .whole input{
        border: none;
    } 

 
th{
    background-color:#52c3f8;
    height: 25px;

}

.billno {
display: flex; 
justify-content: flex-end;   
padding-right: 28px;

}

.particulars{
    display: flex;
    justify-content: center;
}
.widthSN{
    width:30px;
    
}
.widthQTY{
    width: 60px;
}
.widthQTY input{
    width: 60px;
}

.widthpariculars{
    width:150px
}
.width_Rate_Amount{
    width:100px;
}
.particulars table{
border: 0.5px solid black;
border-collapse: collapse;
margin-top: 20px;

}
.particulars td,th{
    border: 0.5px solid black;
}

.input input{
    border-bottom: 2px solid #52c3f8; 
    
}
.flex1{
display: flex;
flex-direction: row-reverse;
width:100%;
justify-content: space-around;
}
.flex2{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}
.particulars table{
    width:555px;
 }

  /* for resizing */
@media (max-width:654px){
  .whole{
      width: 550px;
  }
  .whole th{
      font-size: 12px;
  }

  .particulars table{
    width:505px;
 }
 .customerId td{
text-align: center;
 }
}
 
@media (max-width:600px){
.whole{
    width: 430px;
    font-size: 12px;
}

.particulars table{
    width: 400px;
}
.billno{
    width: 100%;
    
}
.flex2 input{
    width:120px;
}
}
